
@{
    ViewBag.Title = "Index";
}

<h2>Customer Home</h2>

Hello @User.Identity.Name

<br />
@Html.ActionLink("Create New Event", "Create", "Events")<br />
@Html.ActionLink("Show Previous Events", "Index", "Events")