@{
    ViewBag.Title = "Manage";
}

<h2>Manage Services</h2>


@Html.ActionLink("Manage Food Service", "ManageFood", "Service")<br />
@Html.ActionLink("Manage Catering Service", "ManageCatering", "Service")<br />
@Html.ActionLink("Manage Decoration Services", "Index", "Decorations")<br />
@Html.ActionLink("Manage Photography Services", "Index", "Photographies")<br />
